<div class="d-flex align-items-center justify-content-center">
  <h1>Flight Booker</h1>
</div>

      <%= render partial: "shared/dropdown" %>  

      <%= render partial: "shared/arrival-airport" %>

