<div class="d-flex align-items-center justify-content-center">
  <h1>Flight Booker</h1>
</div>
<div class="d-flex align-items-center justify-content-center">
  <h5>In this website, you can book a one way flight to and from many airports across UK and Ireland with ease,</h5>
</div>
<div class="d-flex align-items-center justify-content-center">
  <h5>Just follow the steps below:</h5>
</div>
<div class="d-flex align-items-center justify-content-center">
  <h5>1. select either 'flight booker' or 'book a flight' in the navagation bar above</h5>
</div>
<div class="d-flex align-items-center justify-content-center">
  <h5>2. Enter desired dates/airports and click “Search”</h5>
</div>
<div class="d-flex align-items-center justify-content-center">
  <h5>3. Choose from a list of available flights</h5>
</div>
<div class="d-flex align-items-center justify-content-center">
  <h5>4. Enter passenger information for all passengers</h5>
</div>

