<div id="<%= dom_id create_flight %>">
  <p>
    <strong>Depairport:</strong>
    <%= create_flight.depairport %>
  </p>

  <p>
    <strong>Arrairport:</strong>
    <%= create_flight.arrairport %>
  </p>
  <p>
    <strong>Datetime:</strong>
    <%= create_flight.datetime %>
  </p>
</div>
