<h1>New create flight</h1>

<%= render "form", create_flight: @create_flight %>

<br>
<div>
  <%= link_to "Search", search_path %>
</div>

<div>
  <%= link_to "Back to create flights", create_flights_path %>
</div>
