body {
background-color: rgb(189, 251, 255);    
background-size: 100%;        
color: rgb(0, 0, 0);                 
text-align: center;  
}

a:link {             
    color: rgb(27, 103, 255);
}
a:hover {
    color:purple;
}